# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>

<head>
			<title>pccomponentes</title>
</head>

<body>
			<h1>pccomponentes</h1>
		<h3>PREIS x QUALITÄT</h3>
		<h5>VIELE RABATTE</5>
</body>

</html> 